/*

	Proyecto: EncuentraloFacilito (PANEL DE ADMINISTRACIÓN)

	Diseñado y maquetado por: @01Comandos

	Fecha: 06/04/2015;

-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:500italic);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,700,400);

@font-face {
    font-family: 'Myriad';
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'FiraSans-SemiBold';
    src: url('../fonts/FiraSans-SemiBold.otf');
}

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?8gwwpp');
	src:url('../fonts/icomoon.eot?#iefix8gwwpp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?8gwwpp') format('woff'),
		url('../fonts/icomoon.ttf?8gwwpp') format('truetype'),
		url('../fonts/icomoon.svg?8gwwpp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
	font-size: 0;
	background:linear-gradient(to right, #222222 0%,#222222 20%,#FFFFFF 20%,#FFFFFF 100%);
}

header, section{
	font-size:16px;
	display:inline-block;
	vertical-align:top;
}

/*
	REGISTER.PHP - LOGIN
---------------------------------------------------------------
-------------------------------------------------------------*/
.login{
	background: url('../img/texture.png') repeat;
	border:0;
	font-size: 16px;
}

form#formulario-registro{
	background: #FFFFFF;
	margin: 6em auto 0;
	padding: 0.6em;
	padding-bottom: 2em;
	width: 20em;
	border-radius: 5px;
	box-shadow : 1px 1px 1px rgba(0, 0, 0, 0.11);
}

form#formulario-registro figure{
	padding-bottom: 1em;
	padding-top: 2em;
	text-align: center;
}

form#formulario-registro figure img{
	width: 15em;
}

.usuario input,
.password input{
	background: #FBFBFB;
	border: 1px solid #CCCCCC;
	display: block;
	height: 2.5em;
	margin:0 auto 0.7em;
	text-indent: 1em;
	width: 16em;
}

.usuario span,
.password span{
	text-align: left;
	font-family: 'FiraSans-SemiBold',sans-serif;
	color: #808080;
	font-size: 14px;
	font-weight: normal;
	margin-left: 1.5em;
}

.btn-login{
	text-align: center;
}

#btn-login-register,
#btn-renovacion-empresa,
#btn-suscripcion-empresa,
#btn-suscripcion-emergencia{
	background: #EFB745;
	border-bottom: 3px solid transparent !important;
	border-radius: 3px !important;
	border:0;
	color: #D07C40;
	font-family: 'FiraSans-SemiBold',sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 0.7em 0.7em;
}

#btn-login-register:hover,
#btn-renovacion-empresa:hover,
#btn-suscripcion-empresa:hover,
#btn-suscripcion-emergencia:hover{
	border-bottom: 3px solid #D07C40 !important;
}

#regresar-login{
	color: #999999;
	font-family: 'FiraSans-SemiBold',sans-serif;
	font-size: 13px;
	margin-left: 1.8em;
}

#regresar-login:before{
	content: "<<";
	font-size: 13px;
	padding-right: 0.3em;
}

#regresar-login a{
	color: #999999;
	text-decoration: underline;
}

#regresar-login a:hover{
	color: #E8255F;
}

/*
	HEADER
---------------------------------------------------------------
-------------------------------------------------------------*/
header{
	width: 20%;
	background: transparent;
	border-right: 0;
	padding-right: 0;
	height: 100%;
}

header figure{
	text-align: center;
	margin-top: 3em;
}

header figure img{
	width: 15em;
}

.menu-Panel-Administracion{
	margin-top: 3.5em;
	position: relative;
}

.menu-Panel-Administracion a{
	color: #FFFFFF;
	display: block;
	font-family: 'Raleway',sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: 0.5em 0 0.5em 2.5em;
	position: relative;
	height: 3em;
}

.menu-Panel-Administracion a:hover{
	background: #4D4D4D;
	text-decoration: none;
}

#nueva-empresa, #holis{
	border-bottom: 1px solid #808080;
}

.menu-Panel-Administracion a img{
	position: relative;
	right: 0.5em;
	top: -0.5em;
	width: 2em;
}

a.active{
	background: #0073A4 !important;
	text-decoration: none;
}

a.active:after{
	border-bottom: 1.2em solid transparent;
	border-right: 1.2em solid white;
	border-top: 1.2em solid transparent;
	content: "";
	position: absolute;
	right: 0em;
	top: 0.3em;
}

.active{
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

section{
	width: 80%;
}

/********************************************
         	GENERALES
*********************************************/
.titulo{
	background: #F2F2F2;
	padding: 1.5em 0; 
	text-align: center;
	width: 100%;
}

.titulo h1{
	color: #0074A3;
	font-family: 'Raleway',sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin:0;
}

.total-empresas{
	background: #3FA9F5;
	padding: 0.6em;
	text-align: center;
	width: 13em;
	margin: 0.5em auto;
}

.total-empresas img{
	position: relative;
	top: -0.2em;
	width: 2em;
}

.total-empresas span{
	color: #FFFFFF;
	font-size: 1.6em;
	font-family: 'Myriad',sans-serif;
	font-weight: normal;
}

.total-especifico{
	text-align: center;
	margin-top: 1.3em;
}

.premium-total,
.normal-total,
.recomendados-total,
.principales-total{
	display: inline-block;
}

.normal-total,
.recomendados-total,
.principales-total{
	margin-left: 1em;
}

#total-tipo-empresa{
	color: #000000;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding-right: 0.1em;
}

.premium,
.normal,
.recomendados,
.principales{
	color: #FFFFFF;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: 0.3em;
}

.premium{
	background: #7AC943;
}

.normal{
	background: #FF931E;
}

.recomendados{
	background: #F15A24;
}

.principales{
	background: #FF1D25;
}

.ultimos-dias,
.reporte-categorias{
	text-align: center;
	margin-top: 2em;
}

.titulos-secundarios span{
	border-bottom: 1px solid #000000;
	color: #000000;
	font-family: 'Myriad',sans-serif;
	font-size: 22px;
}

.reporte-empresas{
	color: #000000;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	font-weight: normal;
	margin-top: 0.5em;	
}

#margen{
	margin-left: 2em;
}

.reporte-categorias-detalle{
	margin-top: 0.7em;
}

.generales-total,
.salud-total,
.hogar-total,
.naturaleza-total{
	display: inline-block;
}

.salud-total,
.hogar-total,
.naturaleza-total{
	margin-left: 1em;
}

.generales-estatus,
.salud,
.hogar,
.naturaleza{
	color: #FFFFFF;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: 0.3em;
}

.generales-estatus{
	background: #00A99D;
}

.salud{
	background: #3FA9F5;
}

.hogar{
	background: #FF5B57;
}

.naturaleza{
	background: #0071BC;
}


/*** FECHAS DE CORTE***/
.reporte-fechas-proximas{
	margin-top: 2em;
	text-align: center;
}

#fechas-corte{
	background: #F2F2F2;
	padding: 1.2em 0;
}

#fechas-corte:before{
	content: url('../img/fecha-corte-icon.png');
	position: relative;
	top: 0.5em;
}

/*** VENCIMIENTO ***/
.empresas-corte{
	margin-top: 1.8em;
}

.empresa-vencimiento{
	border: 1px solid #E6E6E6;
	display: inline-block;
	padding: 0.5em;
	margin-top: 0.8em;
}

.margen-empresa{
	margin-left: 0.6em;
}

.acciones{
	text-align: right;
}

.acciones a:hover{
	text-decoration: none;
}

.negative:before{
	color: #BDCCD4;
	content: "\e601";
	font-family: 'iconitos';
	font-size: 1em;
}

.negative:hover:before{
	color: #000000;
}

button.md-trigger.check{
	background: none;
	border: 0;
}

.check:before{
	color: #7AC943;
	content: "\e600";
	font-family: 'iconitos';
	font-size: 1em;
}

.check:hover:before{
	color: #4B8E16;
}

.logo-empresa{
	padding: 0.5em 0;
}

.datos span{
	display: block;
	font-size: 0.9em;
	font-family: 'FiraSans-SemiBold',sans-serif;
	font-weight: normal;
}

#fecha-corte{
	background: #7f005c;
	color: #FFFFFF;
}


/** VENTANA MODAL **/
.md-overlay{
	background : rgba(102, 102, 102, 0.8);
}

div#modal-9{
	position: absolute !important;
	padding:0 !important;
}

.md-content{
	background: #FFFFFF;
	margin-top: -13em !important;
	padding: 0.5em;
	padding:0 !important;
	position: absolute !important;
}

.md-close{
	background: none;
	border:0;
	float: right !important;
}

.md-close:before{
	color: #BDCCD4;
	content: "\e601";
	font-family: 'iconitos';
	font-size: 1.7em;
}

.md-close:hover:before{
	color: #000000;
}

form#formulario-renovacion{
	text-align: center;
}

.logo-empresa-renovacion{
	text-align: center;
	margin-top: 1em;
}

.logo-empresa-renovacion img{
	width: 13em;
}

#titulo-renovacion{
	color: #4D4D4D;
	display: block;
	font-family: 'Myriad',sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}

#titulo-renovacion:before{
	content: url('../img/renovacion-icon.png');
	position: relative;
	top: 0.2em;
}

.renovacion-left,
.renovacion-right{
	display: inline-block;
	vertical-align: top;
	margin-top: 0.6em;
	padding: 0.8em;
}

.renovacion-left input,
.renovacion-right input{
	background: #FFFFFF;
	border-radius: 5px;
	border:0;
	box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
	display: block;
	height: 2.6em;
	margin-bottom: 0.5em;
	text-indent: 0.7em;
	width: 14em;
	color: #4D4D4D;
}

::-webkit-input-placeholder , ::-moz-placeholder{
	color : #B3B3B3;
	font-family : 'Fira Sans', sans-serif;
	font-size : 14px;
	letter-spacing : -0.56px;
}

.tiempo-renovacion label{
	background: none;
	border-radius: 3px !important;
	border: 1.2px solid #3FA9F5;
	color: #3FA9F5;
	font-family: 'FiraSans-SemiBold',sans-serif;
	font-size: 0.9em;
	margin-right: 0.3em;
}

.tiempo-renovacion label:hover,
.tiempo-renovacion label.active{
	background: #3FA9F5 !important;
	border: 1.2px solid #3FA9F5 !important;
	color: #FFFFFF !important;
}


/********************************************
         	NUEVA EMPRESA
*********************************************/

.acciones-NE{
	margin-top: 0.5em;
}

.add-company{
	background : #0071BC;
	border-bottom: 3px solid transparent;
	border-radius : 3px;
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0 0.5em 0.7em 0.5em;
}

.add-company:before{
	content: url('../img/add-company-icon.png');
	position: relative;
	top: 0.5em;
	padding-right: 0.3em;
}

.add-company:hover,
.borrar-empresa:hover,
#edit-empresa:hover{
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 3px solid #0A537C;
}

.search{
	display: inline-block;
	margin-left: 0.9em;
}

.search input{
	background-repeat:no-repeat;
	background: url("../img/search.png") no-repeat #FFFFFF;
	border-radius: 5px;
	border: 0;
	height: 2.6em;
	margin-top: 1em;
	padding-left:1.3em;
	text-indent: 0.7em;
	width: 12em;
}

.empresa-cargada{
	margin-top: 0.5em;
	border: 1px solid #B3B3B3;
	padding: 0.5em;
	margin: 0.5em 1em;
	position: relative;
	min-height: 8em;
}

.estatus,
.fecha{
	display: inline-block;
}

.fecha{
	color: #4D4D4D;
	float: right;
	font-family: 'Myriad',sans-serif;
	font-size: 0.9em;
	font-weight: normal;
}

.logo-empresa-registrada,
.datos-detalle,
.botones-rapidos{
	display: inline-block;
}

.logo-empresa-registrada img{
	margin-top: -1em;
	padding: 0.5em;
}

.datos-detalle{
	margin-top: 1em;
	padding-left: 0.5em;
}

.datos-detalle p{
	color: #000000;
	font-size: 14px;
	font-family: 'FiraSans-SemiBold',sans-serif;
}

#telefono-registrado,
#email-registrado{
	display: inline-block;
}

#email-registrado{
	margin-left: 0.8em;
}

#email-registrado img{
	margin-right: 0.3em;
	text-align: center;
}

.botones-rapidos{
	float: right;
}

.botones-rapidos button,
.botones-rapidos a{
	display: block;
	margin-top: 0.5em;
	background : #0071BC;
	border-bottom: 3px solid transparent;
	border-radius : 3px;
	color: #FFFFFF;
	font-family: 'Raleway',sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.borrar-empresa{
	padding: 0em 0.6em 0.6em !important;
	border-bottom: 3px solid transparent;
}

.borrar-empresa:before{
	content: url('../img/erase-icon.png');
	position: relative;
	padding-right: 0.3em;
	top: 0.2em;
}

#edit-empresa{
	padding: 0.1em 0.6em 0.6em !important;
	border-bottom: 3px solid transparent;
}

#edit-empresa:before{
	content: url('../img/edit-icon.png');
	position: relative;
	padding-right: 0.3em;
	top: 0.3em;
}

/********************************************
         AGREGAR NUEVA EMPRESA
*********************************************/
.zona-facturacion-suscripcion{
	background: #FF5B57;
	padding: 0.8em 0;
}

#formulario-suscripcion{
	text-align: center;
}

.zona-facturacion-suscripcion span{
	color: #FFFFFF !important;
}

.tiempo-suscripcion label{
	background: none;
	border-radius: 3px !important;
	border: 1.2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: 'FiraSans-SemiBold',sans-serif;
	font-size: 0.9em;
	margin-right: 0.3em;
}

.tiempo-suscripcion label:hover,
.tiempo-suscripcion label.active{
	background: #FFFFFF !important;
	border: 1.2px solid #FFFFFF !important;
	color: #FF5B57 !important;
	font-weight: bold;
}

#empresa-suscripcion-titulo{
	margin-top: 1.5em;
	margin-bottom: 1em;
}

#empresa-suscripcion-titulo img{
	position: relative;
	top: -0.3em;
}


/** upload image**/
.botones-upload{
	margin-top: 0.6em;
}

.fileinput-button{
	color: #FFFFFF !important;
	font-family: 'Myriad',sans-serif !important;
	font-size: 1em !important;
	background: #3FA9F5 !important;
	border: 0 !important;
	border-radius: 5px;
	border-bottom: 3px solid #0071BC !important;
}

#fileinput-button-Logo{
	margin-right: 0.8em;
	padding: 0.1em 0.8em 0.6em 0.8em;
}

#fileinput-button-avatarEmergencia:before,
#fileinput-button-Logo:before{
	content: url('../img/camera-icon.png');
	position: relative;
	top: 0.3em;
}

#fileinput-button-Galeria{
	padding: 0.1em 0.8em 0.6em 0.8em;
}

#fileinput-button-Galeria:before{
	content: url('../img/photos-icon.png');
	position: relative;
	top: 0.4em;
}

/*detalles del cuadro de cargar imagenes*/
.div.table{
	display: table;
}

.table{
	width: 100%;
	margin-bottom: 1.5em;
}

div.table .file-row:nth-child(odd){
	background: #f9f9f9;
}

div.table .file-row > div{
	border-top: 1px solid #ddd;
	display: table-cell;
	padding: 0.7em;
	vertical-align: top;
}

.name{
	width: 339px;
	margin-top: 1.3em;
}

.file-row.dz-image-preview > div{
	width: 25%;
}

.acciones-individuales-suscripcion button{
	margin-top: 1.5em;
}

.acciones-individuales-suscripcion button span{
	border-bottom: 0;
	color: #FFFFFF;
	font-size: 1em !important;
}

#total-progress{
	margin-bottom: 0;
	margin-top: 0.8em;
	opacity: 0;
	transition: opacity 0.3s linear;
}

/**** seleccionar ciudad ****/
.ciudad{
	margin-top: 0.8em;
}

.seleccionar-ciudad-emergencia,
.seleccionar-ciudad{
	background: #F14D23;
	border-bottom: 3px solid transparent !important;
	color: #FFFFFF;
	font-family: 'Myriad',sans-serif;
	font-size: 0.9em;
	padding: 0.5em;
}

.seleccionar-ciudad-emergencia span,
.seleccionar-ciudad span{
	color: #FFFFFF;
}

.seleccionar-ciudad-emergencia:hover,
.seleccionar-ciudad:hover{
	background: #F14D23;
	border-bottom: 3px solid #BC351B !important;
	color: #FFFFFF;
}

.btn-group.open .dropdown-toggle{
	background: #F14D23;
	border-bottom: 3px solid #BC351B !important;
	color: #FFFFFF;
}

/**** datos-empresas-suscripcion ****/
.datos-empresariales-suscripcion{
	margin-top: -2em;
}

.datos-emergencia-suscripcion input,
.datos-empresariales-suscripcion input{
	box-shadow: none;
	border: 1px solid #B3B3B3;
}

#horarioAM-empresa-suscripcion,
#horarioPM-empresa-suscripcion{
	display: inline-block;
	width: 6.8em;
}

#direccion-emergencia-suscripcion,
#direccion-empresa-suscripcion{
	border-radius: 5px;
	height: 8.7em;
	resize:none;
	text-indent: 0.8em;
	width: 14em;
}

/* metodos de pago*/
.metodos-pago-suscripcion{
	display: block;
}

#maestro-suscripcion,
#visa-suscripcion,
#mastercard-suscripcion{
	border-radius: 0;
	border-right: 0;
	border:0;
	color: #FFFFFF;
	float: none;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	margin-top: 0.8em;
	padding: 0.5em !important;
}

#visa-suscripcion,
#mastercard-suscripcion{
	margin-left: 0.5em;
}

#maestro-suscripcion.active,
#visa-suscripcion.active,
#mastercard-suscripcion.active,
label#maestro-suscripcion:hover,
label#visa-suscripcion:hover,
label#mastercard-suscripcion:hover{
	background: #70a83b;
	color: #FFFFFF;
	border-radius: 4px;
	border: 1px solid transparent;
}
#maestro-suscripcion,
#visa-suscripcion,
#mastercard-suscripcion{
	background: #FFFFFF;
	border: 1px solid #70a83b;
	color: #70a83b;
}
/* fin de metodos de pago*/

/*FARMACIAS suscripcion*/
.farmacia-suscripcion{
	margin-top: 2em;
}

.btn-farmacia{
	margin-top: 0.5em;
	color: #FFFFFF;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	background: #009bdb;
	border: 0;
	border-bottom: 3px solid #0c82b3;
}


/*fin de farmacia-suscripcion*/

.publicacion-suscripcion,
.categoria-suscripcion,
.estatus-suscripcion{
	margin-top: 2em;
	vertical-align: top;
}

.btn-group.categoria-suscripcion{
	margin-left: 0;
}

.categoria-suscripcion,
.estatus-suscripcion{
	margin-left: 4em;
}

#premium-suscripcion,
#normal-suscripcion,
#generales-suscripcion,
#salud-suscripcion,
#hogar-suscripcion,
#naturaleza-suscripcion,
#sinEstatus-suscripcion,
#principales-suscripcion,
#patrocinados-suscripcion{
	border-radius: 0;
	border-right: 0;
	border:0;
	color: #FFFFFF;
	display: block;
	float: none;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5em !important;
	margin:0;
	padding: 0.2em !important;
}

label#premium-suscripcion,
label#generales-suscripcion,
label#sinEstatus-suscripcion{
	margin-top: 0.5em;
}

#premium-suscripcion.active,
#normal-suscripcion.active,
#generales-suscripcion.active,
#salud-suscripcion.active,
#hogar-suscripcion.active,
#naturaleza-suscripcion.active,
#sinEstatus-suscripcion.active,
#principales-suscripcion.active,
#patrocinados-suscripcion.active{
	background: #E8255F;
	color: #FFFFFF;
	border-bottom: 4px solid #C1144D;
}

#premium-suscripcion,
#normal-suscripcion,
#generales-suscripcion,
#salud-suscripcion,
#hogar-suscripcion,
#naturaleza-suscripcion,
#principales-suscripcion,
#patrocinados-suscripcion{
	background: #FFFFFF;
	border: 1px solid #888888;
	border-radius: 4px;
	color: #888888;
	font-weight: normal;
}

label#premium-suscripcion:hover,
label#normal-suscripcion:hover,
label#generales-suscripcion:hover,
label#salud-suscripcion:hover,
label#hogar-suscripcion:hover,
label#naturaleza-suscripcion:hover,
label#principales-suscripcion:hover,
label#patrocinados-suscripcion:hover{
	background: #bd0052;
	color: #FFFFFF;
}

/**** 12 descripciones detalladas ****/
.descripcionesDetalles-suscripcion{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.detalles-1-suscripcion,
.detalles-2-suscripcion,
.detalles-3-suscripcion{
	display: inline-block;
	margin-top: 0.5em;
}

.detalles-2-suscripcion,
.detalles-3-suscripcion{
	margin-left: 0.5em;
}

.detalles-1-suscripcion input,
.detalles-2-suscripcion input,
.detalles-3-suscripcion input{
	border-radius: 5px;
	border: 1px solid #B3B3B3;
	display: block;
	height: 2.6em;
	margin-bottom: 0.5em;
	text-indent: 0.7em;
	width: 14em;
}

/** boton + fechas **/
#farmacia-suscripcion input{
	color: #000000;
	display: block;
	margin: 0.3em auto;
	max-width: 13em;
	text-align: center;
	width: 100%;
}

#btn-agregar-calendario{
	color: #FFFFFF;
	font-family: 'Myriad',sans-serif;
	font-size: 1em;
	background: #009bdb;
	border:0;
	border-bottom: 3px solid #0c82b3;
	padding: 0.3em 0.6em;
}

.btn-renovacion{
	text-align: center;
}

/********************************************
         EMERGENCIAS
*********************************************/
#logo-emergencia{
	margin-top: 1em;
}

#logo-emergencia img{
	border-radius: 50%;
	height: 7em;
	width: 7em;
}

#ciudad-estatus{
	background: #d4d7d9;
	padding: 0.3em;
	font-family: 'Myriad',sans-serif;
	font-size: 0.9em;
	font-weight: normal;
}


/*** agregar nueva emergencia ***/
#formulario-emergencia-suscripcion{
	text-align: center;
}

.ciudad-emergencia{
	display: inline-block;
	margin-left: 0.6em;
}